= div_for tweet, class: "list-group-item" do |t|
  - if t.user.view_allowed
    %h4.user
      %span.user-name
        = link_to t.user.name, user_path(t.user)
      %span.user-id
        @#{t.user.name}
      %span.time.pull-right
        = distance_of_time_in_words_to_now(t.created_at)
      .clear
    .tweet-content
      %p
        = t.content
      - if t.upload_file.attached?
        %p
          = image_tag(t.upload_file, size: '420x400')
      .content-footer   
        - if t.user.followed_by? current_user
          = link_to "フォロー解除", user_follows_path(t.user), method: :delete
        - else
          = link_to "フォロー", user_follows_path(t.user), method: :post
  - elsif t.user.follow_by? current_user
    %h4.user
      %span.user-name
        = link_to t.user.name, user_path(t.user)
      %span.user-id
        @#{t.user.name}
      %span.time.pull-right
        = distance_of_time_in_words_to_now(t.created_at)
      .clear
    .tweet-content
      %p
        = t.content
      .content-footer   
        - if t.user.followed_by? current_user
          = link_to "フォロー解除", user_follows_path(t.user), method: :delete
        - else
          = link_to "フォロー", user_follows_path(t.user), method: :post

  
